
html,body{
    /* background-image: url('../../images/38598.jpg'); */
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position:center ;
}


.Registration_Container_Row{
    padding: 3rem 14rem;
}
.BtnSubmit{
    width: inherit !important;
}
.BtnNext{
    padding: 7px 10px;
    width: 636px; 
    margin-top: 10px;
    margin-left: 12px;

}
.BtnHome{
    padding: 7px 10px;
    width: 636px; 
    margin: 10px 12px;       
}



.Registration_Container{
    
    background: rgba(255, 255, 255, 0.055);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    height: 760px;
    width: 60%;
     
}
.Step2Step{
           
    background-color: green;
    padding: 5px 7px;
    margin-top: 5px;
}
.errorFontSize{
    font-size: 18px;
    margin: 0rem;
    color:red;
    
}
.FormTextBox{
    height:40px;
    /* font-size: 20px; */

}